<!DOCTYPE html>
<html>
<head>
  <title>Newsfeeder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
</head>
<body>
  <table>
    <th width="100" scope="row"><img src="Logo.gif" width="100" height="100" alt=""/></th>
  </table>

  <script type="text/javascript">
  $(document).ready(function() {
  });
  </script>

  {{> account_tip }}

  <div class="container" style="margin-bottom:100px">
    <h1>{{topic_first_letter_uppercased}} News</h1>
    {{#each news}}
      <button type="button" class="btn btn-info head-btn" data-toggle="collapse" data-target="#demo{{@index}}">{{{this.Headline}}}</button>
      <div id="demo{{@index}}" class="collapse">
				{{#if this.ReporterName}}
					<h4> Reporter Name : {{{this.ReporterName}}}</h4>
				{{/if}}
				{{#if this.PubTime}}
					<h4> Pub Time : {{{this.PubTime}}}</h4>
				{{/if}}
				{{#if this.Source}}
					<h4> Source : {{{this.Source}}}</h4>
				{{/if}}
				{{#if this.Paragraph1}}
					<h5> {{{this.Paragraph1}}} </h5>
				{{/if}}
				{{#if this.Paragraph2}}
					<h5> {{{this.Paragraph2}}} </h5>
				{{/if}}
       	<a href="{{{this.URL}}}"> Click here to view the detailed news </a>
      </div>
      <br>
    {{/each}}
  </div>

  {{> bottom_navigation }}
</body>
</html>
